.login-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  text-align: center;
}

.login-form h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.form-group2 {
  margin-bottom: 20px;
  text-align: left;
}
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e5e5e5;
}
input[type="email"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e5e5e5;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
